.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #2F3139; 
    color: #fff;
    height: 10vh;
    border-top: 1px solid #ccc;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1em;
    
    



    p{
        font-size: 18px;
        span{
            color: #dc643f;
        }
    }
    .social
    {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        color:wheat;
        text-align: right;
        align-items: flex-start;
        align-content: flex-start;

    }

}


