.random {
    width: 100%;
    height: 100vh;
    background: #ccc;
    color: rgb(47, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    img {
      width: 250px;
      align-items: center;
      border: 1px solid #ccc;
      transition: all 0.4s ease;
      &:hover {
        transform: scale(1.1);
        
      }
    }
  
    &-grid {
      &-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
       
    button {
      font-size: 15px;
      border: 0px solid #ccc;
      padding: 10px;
      color: #fff;
      background: #dc643f;
      outline: none;
      font-weight: bold;
      cursor: pointer;
      margin-top: 15px;
      transition: all 0.4s ease;
      
      &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
        color: #333 ;
        background-color : #ddd;
    }
            
    }
      }
  
      &-instructions {
        text-align: center;
        padding: 10px;
  
        p {
          font-size: 18px;
        }
      }
    }
  }
  